<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guardar Familia</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2>Guardar Nueva Familia</h2>
        <form method="POST" action="{{ url_for('router.save_familia') }}">
            <div class="form-group">
                <label for="tieneGenerador">¿Tiene Generador?</label>
                <select class="form-control" id="tieneGenerador" name="tieneGenerador" required>
                    <option value="true">Sí</option>
                    <option value="false">No</option>
                </select>
            </div>
            <div class="form-group">
                <label for="cantidadPersonas">Cantidad de Personas</label>
                <input type="number" class="form-control" id="cantidadPersonas" name="cantidadPersonas" required>
            </div>
            <div class="form-group">
                <label for="razonUso">Razón de Uso</label>
                <input type="text" class="form-control" id="razonUso" name="razonUso" required>
            </div>
            <button type="submit" class="btn btn-primary">Guardar Familia</button>
            <a href="{{ url_for('router.familia_list') }}" class="btn btn-secondary">Cancelar</a>
        </form>
        {% if error %}
            <div class="alert alert-danger mt-3" role="alert">{{ error }}</div>
        {% endif %}

        <a href="{{ url_for('router.index') }}" class="btn btn-primary">Home</a>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
