<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guardar Generador</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2>Guardar Generador</h2>
        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endif %}
        <form action="{{ url_for('router.save_generador') }}" method="post">
            <div class="form-group">
                <label for="id">ID:</label>
                <input type="text" class="form-control" id="id" name="id" required>
            </div>
            <div class="form-group">
                <label for="marca">Marca:</label>
                <input type="text" class="form-control" id="marca" name="marca" required>
            </div>
            <div class="form-group">
                <label for="potenciaGenerada">Potencia Generada (kW):</label>
                <input type="number" step="0.01" class="form-control" id="potenciaGenerada" name="potenciaGenerada" required>
            </div>
            <div class="form-group">
                <label for="costo">Costo:</label>
                <input type="number" step="0.01" class="form-control" id="costo" name="costo" required>
            </div>
            <div class="form-group">
                <label for="consumoPorHora">Consumo por Hora (kWh):</label>
                <input type="number" step="0.01" class="form-control" id="consumoPorHora" name="consumoPorHora" required>
            </div>
            <button type="submit" class="btn btn-primary">Guardar Generador</button>
            <a href="{{ url_for('router.home') }}" class="btn btn-secondary">Cancelar</a>
        </form>

        <a href="{{ url_for('router.index') }}" class="btn btn-primary">Home</a>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
