<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar Censo</title>
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/css/style.css') }}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h2>Actualizar Censo</h2>
       
        <form method="POST">
            <div class="mb-3">
                <label for="provincia" class="form-label">Provincia</label>
                <input type="text" class="form-control" id="provincia" name="provincia" value="{{ censo.provincia }}" required>
            </div>
            <div class="mb-3">
                <label for="totalFamilias" class="form-label">Total de Familias</label>
                <input type="number" class="form-control" id="totalFamilias" name="totalFamilias" value="{{ censo.totalFamilias }}" required>
            </div>
            <div class="mb-3">
                <label for="familiasConGenerador" class="form-label">Familias con Generador</label>
                <input type="number" class="form-control" id="familiasConGenerador" name="familiasConGenerador" value="{{ censo.familiasConGenerador }}" required>
            </div>
            <button type="submit" class="btn btn-primary">Actualizar</button>
        </form>
        <a href="{{ url_for('router.index') }}" class="btn btn-primary">Home</a>
    </div>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>
